In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from scipy import stats
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [8]:
dataset=pd.read_csv('fake_job_postings.csv')
dataset

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
1,2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
2,3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
3,4,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,5,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0
5,6,Accounting Clerk,"US, MD,",NaN,NaN,NaN,Job OverviewApex is an environmental consultin...,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,0
6,7,Head of Content (m/f),"DE, BE, Berlin",ANDROIDPIT,20000-28000,"Founded in 2009, the Fonpit AG rose with its i...",Your Responsibilities: Manage the English-spea...,Your Know-How: ...,Your Benefits: Being part of a fast-growing co...,0,1,1,Full-time,Mid-Senior level,Master's Degree,Online Media,Management,0
7,8,Lead Guest Service Specialist,"US, CA, San Francisco",NaN,NaN,Airenvy’s mission is to provide lucrative yet ...,Who is Airenvy?Hey there! We are seasoned entr...,"Experience with CRM software, live chat, and p...",Competitive Pay. You'll be able to eat steak e...,0,1,1,NaN,NaN,NaN,NaN,NaN,0
8,9,HP BSM SME,"US, FL, Pensacola",NaN,NaN,Solutions3 is a woman-owned small business who...,Implementation/Configuration/Testing/Training ...,MUST BE A US CITIZEN.An active TS/SCI clearanc...,NaN,0,1,1,Full-time,Associate,NaN,Information Technology and Services,NaN,0
9,10,Customer Service Associate - Part Time,"US, AZ, Phoenix",NaN,NaN,"Novitex Enterprise Solutions, formerly Pitney ...",The Customer Service Associate will be based i...,Minimum Requirements:Minimum of 6 months custo...,NaN,0,1,0,Part-time,Entry level,High School or equivalent,Financial Services,Customer Service,0
10,11,ASP.net Developer Job opportunity at United St...,"US, NJ, Jersey City",NaN,100000-120000,NaN,Position : #URL_86fd830a95a64e2b30ceed829e63fd...,Position : #URL_86fd830a95a64e2b30ceed829e63fd...,Benefits - FullBonus Eligible - YesInterview T...,0,0,0,Full-time,Mid-Senior level,Bachelor's Degree,Information Technology and Services,Information Technology,0
11,12,Talent Sourcer (6 months fixed-term contract),"GB, LND, London",HR,NaN,Want to build a 21st century financial service...,TransferWise is the clever new way to move mon...,We’re looking for someone who:Proven track rec...,You will join one of Europe’s most hotly tippe...,0,1,0,NaN,NaN,NaN,NaN,NaN,0
12,13,"Applications Developer, Digital","US, CT, Stamford",NaN,NaN,"Novitex Enterprise Solutions, formerly Pitney ...","The Applications Developer, Digital will devel...",Requirements:4 – 5 years’ experience in develo...,NaN,0,1,0,Full-time,Associate,Bachelor's Degree,Management Consulting,Information Technology,0
13,14,Installers,"US, FL, Orlando",NaN,NaN,Growing event production company providing sta...,"Event Industry Installers Needed!! (Orlando, F...","Valid driver's license,Somewhat Clean driving ...",NaN,0,1,1,Full-time,Not Applicable,Unspecified,Events Services,Other,0
14,15,Account Executive - Sydney,"AU, NSW, Sydney",Sales,NaN,Adthena is the UK’s leading competitive intell...,Are you interested in a satisfying and financi...,You’ll need to be smart and passionate and hav...,"In return we'll pay you well, give you some ow...",0,1,0,Full-time,Associate,Bachelor's Degree,Internet,Sales,0
15,16,VP of Sales - Vault Dragon,"SG, 01, Singapore",Sales,120000-150000,Jungle Ventures is the leading Singapore based...,About Vault Dragon Vault Dragon is Dropbox for...,Key Superpowers3-5 years of high-pressure sale...,"Basic: SGD 120,000Equity negotiable for a rock...",0,1,1,Full-time,Executive,Bachelor's Degree,Facilities Services,Sales,0
16,17,Hands-On QA Leader,"IL, , Tel Aviv, Israel",R&D,NaN,At HoneyBook we’re re-imagining the events ind...,We are looking for a Hands-On QA Leader for ou...,Previous experience in client &amp; server tes...,NaN,0,1,0,Full-time,Mid-Senior level,NaN,Internet,Engineering,0
17,18,Southend-on-Sea Traineeships Under NAS 16-18 Y...,"GB, SOS, Southend-on-Sea",NaN,NaN,Established on the principles that full time e...,Government funding is only available for 16-18...,16-18 year olds only due to government funding...,Career prospects.,0,1,1,NaN,NaN,NaN,NaN,NaN,0
18,19,Visual Designer,"US, NY, New York",NaN,NaN,Kettle is an independent digital agency based ...,Kettle is hiring a Visual Designer!Job Locatio...,NaN,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
19,20,Process Controls Engineer - DCS PLC MS Office ...,"US, PA, USA Northeast",NaN,NaN,We Provide Full Time Permanent Positions for m...,Experienced Process Controls Engineer is requi...,Must have 5 or more years of experience with D...,NaN,0,0,0,Full-time,NaN,NaN,NaN,NaN,0
20,21,Marketing Assistant,"US, TX, Austin",NaN,NaN,IntelliBright was created to leverage enterpri...,IntelliBright is growing fast and is looking f...,Job RequirementsAssist in creating client onli...,NaN,0,1,0,NaN,NaN,NaN,NaN,Marketing,0
21,22,Front End Developer,"NZ, N, Auckland",NaN,NaN,Frustrated with the status quo?Like to re-imag...,Want to be part of a globally focused tech tea...,You will most likely have:A solid mastery of m...,You will be part of an awesome team of innovat...,0,1,0,Full-time,Mid-Senior level,Master's Degree,Consumer Electronics,Engineering,0
22,23,Engagement Manager,"AE, ,",Engagement,NaN,Upstream’s mission is to revolutionise the way...,The position reports to the Head of Engagement...,RequirementsThe ideal candidate will be bright...,Salary &amp; BenefitsThe opportunity to learn ...,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Telecommunications,Sales,0
23,24,"Vice President, Sales and Sponsorship (Busines...","US, CA, Carlsbad",Businessfriend.com,100000-120000,"WDM Group is an innovative, forward thinking d...",#URL_eda2500ddcedb60957fcd7f5b164e092966f8c4e8...,"Job Requirements:A reputation as a ""go-getter""...",Businessfriend will offer a competitive six fi...,0,1,0,Full-time,Executive,Unspecified,Internet,Sales,0
24,25,Customer Service,"GB, LND, London",NaN,NaN,NaN,We are a canary wharf based e-commerce company...,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,0
25,26,H1B SPONSOR FOR L1/L2/OPT,"US, NY, New York",NaN,NaN,i28 Technologies has demonstrated expertise in...,"Hello,Wish you are doing good... ...","JAVA, .NET, SQL, ORACLE, SAP, Informatica, Big...",NaN,0,1,1,NaN,NaN,NaN,NaN,NaN,0
26,27,Marketing Exec,"SG, ,",Marketing,NaN,If working in a cubical seems like your idea o...,We are currently expanding our Marketing Depar...,"This position is Junior to Mid level. Ideally,...",We are looking for Singaporean residents or in...,0,1,0,Full-time,Associate,NaN,Online Media,Marketing,0
27,28,HAAD/DHA Licensed Doctors Opening in UAE,"AE, AZ, Abudhabi",Medical,NaN,We the Medical Recruitment Team of Roland and ...,HAAD/DHA Licensed Doctors Opening in UAEWe the...,RequirementsEndocrinologistGastroenterologistC...,Our client is one of the reputed and leading H...,0,1,0,Full-time,Associate,Master's Degree,Hospital & Health Care,Health Care Provider,0
28,29,Talent Management Process Manager,"US, MO, St. Louis",NaN,NaN,We Provide Full Time Permanent Positions for m...,(We have more than 1500+ Job openings in our w...,NaN,NaN,0,0,0,Full-time,NaN,NaN,Management Consulting,NaN,0
29,30,Customer Service Associate,"CA, ON, Toronto",NaN,NaN,"Novitex Enterprise Solutions, formerly Pitney ...",The Customer Service Associate will be based i...,Minimum Requirements:Minimum of 1 year custome...,NaN,0,1,0,Full-time,Entry level,High School or equivalent,Consumer Services,Administrative,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17850,17851,North West Level 2 and 3 DGV NVQ Assessors Under,"GB, MAN, Manchester",NaN,NaN,Established on the principles that full time e...,We are looking for experienced assessor in the...,"Assessor Award (A1, TAQA, etc) Own transport.",NaN,0,1,1,Full-time,Associate,Vocational,Logistics and Supply Chain,Training,0
17851,17852,Warehouse Operator / Material Handler,"US, IA, Cedar Rapids",NaN,NaN,"Red Star Yeast Company LLC (RSYC), a leader in...",Red Star Yeast Co. LLC in Cedar Rapids is now ...,Requires ability to become forklift certified....,"Shift Schedule: Day Shift Monday – Friday, wit...",0,1,1,Full-time,Entry level,High School or equivalent,Food Production,Supply Chain,0
17852,17853,GWT Expert,"FI, , Turku",NaN,NaN,NaN,GWT ExpertWe are experiencing a rapid worldwid...,NaN,NaN,0,1,0,Full-time,NaN,NaN,Information Technology and Services,NaN,0
17853,17854,Call Center/Customer Service,"US, NJ, Newark",Customer Service,NaN,At Command we care enough to consistently plac...,At Command we care enough to consistently plac...,Responsibilities:Determines requirements by wo...,Benefits:15/hr (non-negotiable)Medical/dental ...,0,1,1,NaN,NaN,NaN,NaN,NaN,0
17854,17855,Talent Management Process Manager,"US, OH, Cincinnati",NaN,NaN,We Provide Full Time Permanent Positions for m...,(We have more than 1500+ Job openings in our w...,NaN,NaN,0,0,0,Full-time,NaN,NaN,NaN,NaN,0
17855,17856,Android Engineer,"US, CA, San Francisco",Engineering,NaN,"Shyp is the easiest way to send anything, anyw...",What we're looking for:You've been an integral...,Track record of developing native Android appl...,NaN,0,1,0,NaN,NaN,NaN,NaN,Engineering,0
17856,17857,Web Developer - Marketing,"IE, L, Dublin",NaN,NaN,Intercom (#URL_cb674f93cbcd215a3a0a57a8615a565...,Intercom (#URL_cb674f93cbcd215a3a0a57a8615a565...,Must haves:You will be an expert in turning wi...,"Work on great hardware (macbook air or pro, wi...",0,1,0,Full-time,Not Applicable,NaN,Computer Software,Information Technology,0
17857,17858,Chief Technology Officer (CTO) for a fast grow...,"GR, I, Kifissia",NaN,NaN,NaN,If you want to join a fast growing start-up as...,To be able to lead the technical side of our s...,NaN,0,0,0,Full-time,NaN,Bachelor's Degree,Hospitality,Information Technology,0
17858,17859,Pharmaceutical Senior Project Manager Consultant,"US, PA, Horsham",NaN,NaN,Keen360 helps organizations to design strategi...,Our Pharmaceutical client has engaged us to pr...,Job RequirementsThe ideal candidate will be a ...,NaN,0,1,0,Contract,Mid-Senior level,Bachelor's Degree,Pharmaceuticals,Project Management,0
17859,17860,Immediate Requirement: iOS Developer for Qatar,"QA, DA,",NaN,NaN,NaN,Greetings from VAM SYSTEMS…..VAM SYSTEMS is a ...,"iOS programming “Objective – C “, C++#URL_01a...",NaN,0,0,1,NaN,NaN,NaN,NaN,NaN,0
17860,17861,Sr. SQL Server DBA,"US, CA, Bay Area",NaN,NaN,NaN,Position: Sr. SQL Server DBALocation: Bay Area...,Provide 24x7 on-call support,NaN,0,1,0,Contract,Mid-Senior level,Unspecified,Information Technology and Services,Information Technology,0
17861,17862,Junior Embedded Engineer,"GR, A, Komotini",NaN,NaN,"Tribe Wearables is a venture-backed startup, d...",WHO WE ARETribe Wearables is a venture-backed ...,Skills we are looking for:BSc degree in Comput...,Fun and stimulating working environmentWork wi...,0,1,0,Full-time,Entry level,Bachelor's Degree,Computer Hardware,Engineering,0
17862,17863,Clinical Supervisor,"US, SC, GREENVILLE",NaN,NaN,Crossroads Treatment Centers is a nationally-a...,Crossroads Treatment Centers in South Carolina...,Four-year degree in counseling or related fiel...,Crossroads offers a comprehensive benefits pac...,0,1,1,Full-time,Associate,Bachelor's Degree,Medical Practice,Health Care Provider,0
17863,17864,Implementation Support Specialist,"US, IA, Dubuque",Services,NaN,"We design, build, sell, and service the most i...",WANTED: an Implementation Support Specialist w...,Who you are…• You know the ins-and-outs of Mic...,NaN,0,1,0,Full-time,NaN,NaN,Computer Software,NaN,0
17864,17865,Next Generation Depth Sensing,"US, MA, Cambridge",MM,NaN,MERL's internship program gives students excel...,MERL is looking for a well qualified individua...,NaN,NaN,0,1,1,NaN,NaN,NaN,NaN,NaN,0
17865,17866,Portfolio Development Associate - Paris & rest...,"GB, LND, London",Sales,18000-20000,We're hiring!AvenueStory is a concept driven b...,"AvenueStory is looking for a curious, ambitiou...","Comfortable on the phone, fluent in French and...","Working within a small, young dynamic team in ...",0,1,1,Full-time,Entry level,Bachelor's Degree,Real Estate,Sales,0
17866,17867,Post Production Editor,"US, IA, West Des Moines",NaN,NaN,"Stories by RELFrom 5,000 feet, we look like a ...",Key Duties:• Rough cut shows on Adobe Premier ...,"Additional Duties:• Ingest, log and label foot...",Salary and benefits package is negotiable base...,0,1,0,Full-time,Mid-Senior level,NaN,Motion Pictures and Film,Production,0
17867,17868,Admin Assistant,"GB, WSX, Chichester",Sales,18000-19000,NaN,We are seeking an administrator to work in a b...,Proficient experience in Microsoft Word and Ex...,"Salary £18,000Commission available after quali...",0,1,0,Full-time,Entry level,Unspecified,Human Resources,Sales,0
17868,17869,CNC Programmer,"US, OH, Cincinnati",NaN,NaN,We Provide Full Time Permanent Positions for m...,(We have more than 1500+ Job openings in our w...,NaN,NaN,0,0,0,Full-time,NaN,NaN,NaN,NaN,0
17869,17870,Sr Technical Lead LIMS,"US, DE, Wilmington",NaN,NaN,NaN,Job Title: Sr Technical LeadSalary: OpenDurat...,Responsibilities: He should be extensive knowl...,NaN,0,0,0,Full-time,NaN,NaN,Pharmaceuticals,NaN,0
17870,17871,Senior Financial Analyst (Retail),"US, CA, Gardena",NaN,NaN,PROSULTING IS PEOPLE The ProSulting difference...,We are activity searching for a Senior Financi...,Must have a minimum of 3 + years in Financial ...,NaN,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Retail,Financial Analyst,0
17871,17872,Water Truck Driver,"US, PA, Waynesburg",NaN,NaN,Valor Services provides Workforce Solutions th...,Requires skilled work in operating commercial ...,GED or diploma required.Requires minimum of on...,NaN,0,1,1,Full-time,NaN,NaN,Oil & Energy,NaN,0
17872,17873,Product Manager,"US, CA, San Francisco",Product Development,NaN,Flite delivers ad innovation at scale to the w...,Flite's SaaS display ad platform fuels the wor...,BA/BS in Computer Science or a related technic...,Competitive baseAttractive stock option planMe...,0,1,0,Full-time,NaN,NaN,Internet,Product Management,0
17873,17874,Recruiting Coordinator,"US, NC, Charlotte",NaN,NaN,NaN,RESPONSIBILITIES:Will facilitate the recruitin...,REQUIRED SKILLS:Associates Degree or a combina...,NaN,0,1,0,Contract,NaN,NaN,Utilities,NaN,0
17874,17875,JavaScript Developer,"US, ,",NaN,80000-100000,NaN,"Sr, JavaScript Developer Experience : 4-10 yea...",NaN,NaN,0,0,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Information Technology,0
17875,17876,Account Director - Distribution,"CA, ON, Toronto",Sales,NaN,Vend is looking for some awesome new talent to...,Just in case this is the first time you’ve vis...,To ace this role you:Will eat comprehensive St...,What can you expect from us?We have an open cu...,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Sales,0
17876,17877,Payroll Accountant,"US, PA, Philadelphia",Accounting,NaN,WebLinc is the e-commerce platform and service...,The Payroll Accountant will focus primarily on...,- B.A. or B.S. in Accounting- Desire to have f...,Health &amp; WellnessMedical planPrescription ...,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Internet,Accounting/Auditing,0
17877,17878,Project Cost Control Staff Engineer - Cost Con...,"US, TX, Houston",NaN,NaN,We Provide Full Time Permanent Positions for m...,Experienced Project Cost Control Staff Enginee...,At least 12 years professional experience.Abil...,NaN,0,0,0,Full-time,NaN,NaN,NaN,NaN,0
17878,17879,Graphic Designer,"NG, LA, Lagos",NaN,NaN,NaN,Nemsia Studios is looking for an experienced v...,1. Must be fluent in the latest versions of Co...,Competitive salary (compensation will be based...,0,0,1,Contract,Not Applicable,Professional,Graphic Design,Design,0
17879,17880,Web Application Developers,"NZ, N, Wellington",Engineering,NaN,Vend is looking for some awesome new talent to...,Who are we?Vend is an award winning web based ...,We want to hear from you if:You have an in-dep...,NaN,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Engineering,0

In [3]:
df=dataset.iloc[:,[2,3,9,10,11,12,13,14,15,16,17]]
new_df=df
new_df

,location,department,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,"US, NY, New York",Marketing,0,1,0,Other,Internship,NaN,NaN,Marketing,0
1,"NZ, , Auckland",Success,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
2,"US, IA, Wever",NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
3,"US, DC, Washington",Sales,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,"US, FL, Fort Worth",NaN,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0
5,"US, MD,",NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,0
6,"DE, BE, Berlin",ANDROIDPIT,0,1,1,Full-time,Mid-Senior level,Master's Degree,Online Media,Management,0
7,"US, CA, San Francisco",NaN,0,1,1,NaN,NaN,NaN,NaN,NaN,0
8,"US, FL, Pensacola",NaN,0,1,1,Full-time,Associate,NaN,Information Technology and Services,NaN,0
9,"US, AZ, Phoenix",NaN,0,1,0,Part-time,Entry level,High School or equivalent,Financial Services,Customer Service,0
10,"US, NJ, Jersey City",NaN,0,0,0,Full-time,Mid-Senior level,Bachelor's Degree,Information Technology and Services,Information Technology,0
11,"GB, LND, London",HR,0,1,0,NaN,NaN,NaN,NaN,NaN,0
12,"US, CT, Stamford",NaN,0,1,0,Full-time,Associate,Bachelor's Degree,Management Consulting,Information Technology,0
13,"US, FL, Orlando",NaN,0,1,1,Full-time,Not Applicable,Unspecified,Events Services,Other,0
14,"AU, NSW, Sydney",Sales,0,1,0,Full-time,Associate,Bachelor's Degree,Internet,Sales,0
15,"SG, 01, Singapore",Sales,0,1,1,Full-time,Executive,Bachelor's Degree,Facilities Services,Sales,0
16,"IL, , Tel Aviv, Israel",R&D,0,1,0,Full-time,Mid-Senior level,NaN,Internet,Engineering,0
17,"GB, SOS, Southend-on-Sea",NaN,0,1,1,NaN,NaN,NaN,NaN,NaN,0
18,"US, NY, New York",NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
19,"US, PA, USA Northeast",NaN,0,0,0,Full-time,NaN,NaN,NaN,NaN,0
20,"US, TX, Austin",NaN,0,1,0,NaN,NaN,NaN,NaN,Marketing,0
21,"NZ, N, Auckland",NaN,0,1,0,Full-time,Mid-Senior level,Master's Degree,Consumer Electronics,Engineering,0
22,"AE, ,",Engagement,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Telecommunications,Sales,0
23,"US, CA, Carlsbad",Businessfriend.com,0,1,0,Full-time,Executive,Unspecified,Internet,Sales,0
24,"GB, LND, London",NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,0
25,"US, NY, New York",NaN,0,1,1,NaN,NaN,NaN,NaN,NaN,0
26,"SG, ,",Marketing,0,1,0,Full-time,Associate,NaN,Online Media,Marketing,0
27,"AE, AZ, Abudhabi",Medical,0,1,0,Full-time,Associate,Master's Degree,Hospital & Health Care,Health Care Provider,0
28,"US, MO, St. Louis",NaN,0,0,0,Full-time,NaN,NaN,Management Consulting,NaN,0
29,"CA, ON, Toronto",NaN,0,1,0,Full-time,Entry level,High School or equivalent,Consumer Services,Administrative,0
...,...,...,...,...,...,...,...,...,...,...,...
17850,"GB, MAN, Manchester",NaN,0,1,1,Full-time,Associate,Vocational,Logistics and Supply Chain,Training,0
17851,"US, IA, Cedar Rapids",NaN,0,1,1,Full-time,Entry level,High School or equivalent,Food Production,Supply Chain,0
17852,"FI, , Turku",NaN,0,1,0,Full-time,NaN,NaN,Information Technology and Services,NaN,0
17853,"US, NJ, Newark",Customer Service,0,1,1,NaN,NaN,NaN,NaN,NaN,0
17854,"US, OH, Cincinnati",NaN,0,0,0,Full-time,NaN,NaN,NaN,NaN,0
17855,"US, CA, San Francisco",Engineering,0,1,0,NaN,NaN,NaN,NaN,Engineering,0
17856,"IE, L, Dublin",NaN,0,1,0,Full-time,Not Applicable,NaN,Computer Software,Information Technology,0
17857,"GR, I, Kifissia",NaN,0,0,0,Full-time,NaN,Bachelor's Degree,Hospitality,Information Technology,0
17858,"US, PA, Horsham",NaN,0,1,0,Contract,Mid-Senior level,Bachelor's Degree,Pharmaceuticals,Project Management,0
17859,"QA, DA,",NaN,0,0,1,NaN,NaN,NaN,NaN,NaN,0
17860,"US, CA, Bay Area",NaN,0,1,0,Contract,Mid-Senior level,Unspecified,Information Technology and Services,Information Technology,0
17861,"GR, A, Komotini",NaN,0,1,0,Full-time,Entry level,Bachelor's Degree,Computer Hardware,Engineering,0
17862,"US, SC, GREENVILLE",NaN,0,1,1,Full-time,Associate,Bachelor's Degree,Medical Practice,Health Care Provider,0
17863,"US, IA, Dubuque",Services,0,1,0,Full-time,NaN,NaN,Computer Software,NaN,0
17864,"US, MA, Cambridge",MM,0,1,1,NaN,NaN,NaN,NaN,NaN,0
17865,"GB, LND, London",Sales,0,1,1,Full-time,Entry level,Bachelor's Degree,Real Estate,Sales,0
17866,"US, IA, West Des Moines",NaN,0,1,0,Full-time,Mid-Senior level,NaN,Motion Pictures and Film,Production,0
17867,"GB, WSX, Chichester",Sales,0,1,0,Full-time,Entry level,Unspecified,Human Resources,Sales,0
17868,"US, OH, Cincinnati",NaN,0,0,0,Full-time,NaN,NaN,NaN,NaN,0
17869,"US, DE, Wilmington",NaN,0,0,0,Full-time,NaN,NaN,Pharmaceuticals,NaN,0
17870,"US, CA, Gardena",NaN,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Retail,Financial Analyst,0
17871,"US, PA, Waynesburg",NaN,0,1,1,Full-time,NaN,NaN,Oil & Energy,NaN,0
17872,"US, CA, San Francisco",Product Development,0,1,0,Full-time,NaN,NaN,Internet,Product Management,0
17873,"US, NC, Charlotte",NaN,0,1,0,Contract,NaN,NaN,Utilities,NaN,0
17874,"US, ,",NaN,0,0,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Information Technology,0
17875,"CA, ON, Toronto",Sales,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Sales,0
17876,"US, PA, Philadelphia",Accounting,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Internet,Accounting/Auditing,0
17877,"US, TX, Houston",NaN,0,0,0,Full-time,NaN,NaN,NaN,NaN,0
17878,"NG, LA, Lagos",NaN,0,0,1,Contract,Not Applicable,Professional,Graphic Design,Design,0
17879,"NZ, N, Wellington",Engineering,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Engineering,0

In [30]:
#df['de'].replace()

In [4]:
def find_category_mappings(new_df, variable):
    return {k: i for i, k in enumerate(new_df[variable].unique())}
def integer_encode(new_df,variable, ordinal_mapping):
    new_df[variable] = new_df[variable].map(ordinal_mapping)
for variable in ['location','department','telecommuting','has_company_logo','has_questions','employment_type','required_experience','required_education','industry','function']:
    mappings = find_category_mappings(new_df,variable)
    integer_encode(new_df, variable, mappings)
new_df.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,location,department,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,0,0,0,0,0,0,0,0,0,0,0
1,1,1,0,0,0,1,1,0,1,1,0
2,2,2,0,0,0,2,2,0,0,2,0
3,3,3,0,0,0,1,3,1,2,3,0
4,4,2,0,0,1,1,3,1,3,4,0

In [37]:
z_scores = stats.zscore(df)

abs_z_scores = np.abs(z_scores)
filtered_entries = (abs_z_scores < 3).all(axis=1)
new_df = df[filtered_entries]

print(new_df)

       location  department  telecommuting  has_company_logo  has_questions  \
0             0           0              0                 0              0
1             1           1              0                 0              0
2             2           2              0                 0              0
3             3           3              0                 0              0
4             4           2              0                 0              1
5             5           2              0                 1              0
6             6           4              0                 0              1
7             7           2              0                 0              1
8             8           2              0                 0              1
9             9           2              0                 0              0
10           10           2              0                 1              0
11           11           5              0                 0              0
12           12           2              0                 0              0
13           13           2              0                 0              1
14           14           3              0                 0              0
15           15           3              0                 0              1
16           16           6              0                 0              0
17           17           2              0                 0              1
18            0           2              0                 0              0
19           18           2              0                 1              0
20           19           2              0                 0              0
21           20           2              0                 0              0
22           21           7              0                 0              1
23           22           8              0                 0              0
24           11           2              0                 1              0
25           23           2              0                 0              1
26           24           0              0                 0              0
27           25           9              0                 0              0
28           26           2              0                 1              0
29           27           2              0                 0              0
...         ...         ...            ...               ...            ...
17841       176         325              0                 0              0
17843        93           2              0                 0              0
17846        37           2              0                 0              0
17847       328          17              0                 0              1
17849         7          12              0                 0              0
17851        56           2              0                 0              1
17852       462           2              0                 0              0
17853       855         185              0                 0              1
17854        61           2              0                 1              0
17855         7          16              0                 0              0
17856       223           2              0                 0              0
17857      1502           2              0                 1              0
17858      2115           2              0                 0              0
17859      1619           2              0                 1              1
17861       808           2              0                 0              0
17862      2428           2              0                 0              1
17863       210          96              0                 0              0
17864       161         450              0                 0              1
17865        11           3              0                 0              1
17868        61           2              0                 1              0
17869       294           2              0                 1              0
17870      1575           2              0                 0              1
17871       683           2              0                 0              1
17872         7         422              0                 0              0
17873        72           2              0                 0              0
17874        58           2              0                 1              0
17875        27           3              0                 0              1
17876        60          78              0                 0              1
17877       132           2              0                 1              0
17879       510          16              0                 0              1

       employment_type  required_experience  required_education  industry  \
0                    0                    0                   0         0
1                    1                    1                   0         1
2                    2                    2                   0         0
3                    1                    3                   1         2
4                    1                    3                   1         3
5                    2                    2                   0         0
6                    1                    3                   2         4
7                    2                    2                   0         0
8                    1                    4                   0         5
9                    3                    5                   3         6
10                   1                    3                   1         5
11                   2                    2                   0         0
12                   1                    4                   1         7
13                   1                    1                   4         8
14                   1                    4                   1         9
15                   1                    6                   1        10
16                   1                    3                   0         9
17                   2                    2                   0         0
18                   2                    2                   0         0
19                   1                    2                   0         0
20                   2                    2                   0         0
21                   1                    3                   2        11
22                   1                    3                   1        12
23                   1                    6                   4         9
24                   2                    2                   0         0
25                   2                    2                   0         0
26                   1                    4                   0         4
27                   1                    4                   2         3
28                   1                    2                   0         7
29                   1                    5                   3        13
...                ...                  ...                 ...       ...
17841                2                    2                   0         0
17843                1                    2                   0         0
17846                1                    4                   1         1
17847                1                    4                   3         5
17849                1                    3                   1         2
17851                1                    5                   3        20
17852                1                    2                   0         5
17853                2                    2                   0         0
17854                1                    2                   0         0
17855                2                    2                   0         0
17856                1                    1                   0         2
17857                1                    2                   1        40
17858                4                    3                   1        29
17859                2                    2                   0         0
17861                1                    5                   1        80
17862                1                    4                   1        38
17863                1                    2                   0         2
17864                2                    2                   0         0
17865                1                    5                   1        34
17868                1                    2                   0         0
17869                1                    2                   0        29
17870                1                    3                   1        59
17871                1                    2                   0        15
17872                1                    2                   0         9
17873                4                    2                   0        45
17874                1                    3                   1         2
17875                1                    3                   0         2
17876                1                    3                   1         9
17877                1                    2                   0         0
17879                1                    3                   0         2

       function  fraudulent
0             0           0
1             1           0
2             2           0
3             3           0
4             4           0
5             2           0
6             5           0
7             2           0
8             2           0
9             1           0
10            6           0
11            2           0
12            6           0
13            7           0
14            3           0
15            3           0
16            8           0
17            2           0
18            2           0
19            2           0
20            0           0
21            8           0
22            3           0
23            3           0
24            2           0
25            2           0
26            0           0
27            4           0
28            2           0
29            9           0
...         ...         ...
17841         2           0
17843        10           0
17846        19           0
17847         6           0
17849        10           0
17851        13           0
17852         2           0
17853         2           0
17854         2           0
17855         8           0
17856         6           0
17857         6           0
17858        19           0
17859         2           0
17861         8           0
17862         4           0
17863         2           0
17864         2           0
17865         3           0
17868         2           0
17869         2           0
17870        16           0
17871         2           0
17872        15           0
17873         2           0
17874         6           0
17875         3           0
17876        27           0
17877         2           0
17879         8           0

[14229 rows x 11 columns]

In [25]:
df.dropna()

,location,department,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
3,"US, DC, Washington",Sales,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
6,"DE, BE, Berlin",ANDROIDPIT,0,1,1,Full-time,Mid-Senior level,Master's Degree,Online Media,Management,0
14,"AU, NSW, Sydney",Sales,0,1,0,Full-time,Associate,Bachelor's Degree,Internet,Sales,0
15,"SG, 01, Singapore",Sales,0,1,1,Full-time,Executive,Bachelor's Degree,Facilities Services,Sales,0
22,"AE, ,",Engagement,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Telecommunications,Sales,0
23,"US, CA, Carlsbad",Businessfriend.com,0,1,0,Full-time,Executive,Unspecified,Internet,Sales,0
27,"AE, AZ, Abudhabi",Medical,0,1,0,Full-time,Associate,Master's Degree,Hospital & Health Care,Health Care Provider,0
32,"US, WA, Everett",Field,0,1,1,Full-time,Entry level,Unspecified,Construction,Other,0
50,"US, NV, Carson City",Production,0,1,0,Full-time,Entry level,High School or equivalent,Food & Beverages,Production,0
61,"US, IA, Cedar Rapids",General Services,0,1,1,Full-time,Entry level,High School or equivalent,Food Production,Supply Chain,0
75,"DE, BE, Berlin",Engineering,0,1,1,Full-time,Mid-Senior level,Master's Degree,E-Learning,Engineering,0
90,"US, NY, New York",Marketing,0,1,0,Full-time,Associate,Bachelor's Degree,Marketing and Advertising,Marketing,0
92,"US, SC, Columbia",Human Resources,1,0,0,Full-time,Entry level,High School or equivalent,Consumer Services,Human Resources,0
95,"US, ,",Marketing,0,1,0,Full-time,Director,Master's Degree,Internet,Marketing,0
98,"US, , Stocton, CA",Oil & Energy,0,1,1,Full-time,Mid-Senior level,High School or equivalent,Oil & Energy,Other,1
102,"GB, WAR, Coventry",Marketplace,1,1,0,Full-time,Entry level,Bachelor's Degree,Internet,Marketing,0
105,"US, FL, Jacksonville",Cloud Services,1,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Internet,Information Technology,0
107,"GB, LND, London",FP,0,1,0,Full-time,Not Applicable,Unspecified,Venture Capital & Private Equity,Information Technology,0
127,"US, GA,",Sales,0,1,1,Full-time,Associate,Unspecified,Pharmaceuticals,Sales,0
134,"GB, , Manchester",Sales and Business Development,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Financial Services,Sales,0
145,"GR, I, Athens",Development,0,1,0,Full-time,Associate,Unspecified,Computer Software,Other,0
149,"US, PA, Philadelphia",Sales,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
153,"GB, , London",Production,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Internet,Production,0
160,"US, WI, Western Wisconsin",Field Operations,0,0,0,Full-time,Associate,High School or equivalent,Mechanical or Industrial Engineering,Manufacturing,0
164,"EG, C, Cairo",Marketing,0,1,0,Full-time,Entry level,Bachelor's Degree,Telecommunications,Marketing,0
166,"GR, I, Athens",Sales,0,0,0,Full-time,Mid-Senior level,Master's Degree,Consumer Goods,Sales,0
168,"GR, I, Athens",MKT,0,1,0,Full-time,Entry level,Bachelor's Degree,Marketing and Advertising,Administrative,0
171,"GB, CMD, London",Technology,0,1,0,Full-time,Associate,Vocational,Marketing and Advertising,Information Technology,0
173,US,Power Plant & Energy,0,1,1,Full-time,Mid-Senior level,Certification,Electrical/Electronic Manufacturing,Other,1
178,"US, IL, Chicago",Client Services,0,1,1,Full-time,Director,Bachelor's Degree,Marketing and Advertising,Strategy/Planning,0
...,...,...,...,...,...,...,...,...,...,...,...
17655,"US, MI, Troy",Controls Engineer,0,1,1,Full-time,Mid-Senior level,Associate Degree,Automotive,Engineering,1
17661,"US, ,","Data Entry, Clerical Admin, Administrative Ass...",1,0,1,Other,Entry level,High School or equivalent,Computer Networking,Accounting/Auditing,1
17666,"US, NY, New York",Data entry,0,0,0,Part-time,Entry level,Unspecified,Consumer Services,Administrative,1
17668,"US, IL, Chicago",Sales,1,1,0,Full-time,Entry level,High School or equivalent,Real Estate,Sales,1
17672,"US, TX, AUSTIN",CALL CENTER,0,1,1,Full-time,Entry level,High School or equivalent,Consumer Services,Customer Service,1
17676,"US, ,",Engineering,0,1,1,Full-time,Director,Master's Degree,Ranching,Engineering,1
17688,"IN, AP, Hyderabad",User experience design,0,0,0,Full-time,Mid-Senior level,Master's Degree,Design,Art/Creative,1
17698,"US, NV, Las Vegas",admin,0,0,0,Full-time,Entry level,Unspecified,Accounting,Administrative,1
17700,"US, FL, 32008",admin,0,0,0,Full-time,Entry level,Unspecified,Accounting,Customer Service,1
17716,"US, IL, chicago",sales,0,0,1,Contract,Associate,High School or equivalent,Marketing and Advertising,Sales,1
17722,"US, NY, Moravia",admin,0,0,0,Other,Entry level,High School or equivalent,Accounting,Administrative,1
17728,"US, CO, DENVER",Data Entry,1,0,0,Full-time,Executive,Master's Degree,Consumer Services,Administrative,1
17729,"US, CA, Los Angeles",Programming,0,1,1,Other,Internship,High School or equivalent,Entertainment,Business Development,1
17730,"US, WA, Seattle",Sales,0,1,0,Full-time,Not Applicable,High School or equivalent,Insurance,Sales,1
17734,"US, TX, Houston",Customer Service,1,1,0,Full-time,Entry level,High School or equivalent,Real Estate,Customer Service,1
17747,"US, CA, Los Angeles",Administrative,0,0,0,Part-time,Entry level,High School or equivalent,Real Estate,Administrative,1
17758,"US, NY, New York",Admin - Clerical,0,0,0,Temporary,Entry level,Unspecified,Telecommunications,Administrative,1
17759,"US, NY, New York",Customer Service,1,1,0,Full-time,Entry level,High School or equivalent,Real Estate,Customer Service,1
17766,"US, GA, COLUMBUS",Accounting/Payroll,0,1,0,Full-time,Entry level,High School or equivalent,Accounting,Finance,1
17770,"US, TX, Houston",Administrative Dept,0,0,1,Full-time,Entry level,High School or equivalent,Financial Services,Administrative,1
17793,"US, CA, Bakersfield",Oil & Energy,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Oil & Energy,Accounting/Auditing,1
17813,"US, PA, Philadelphia",Customer Service,1,1,0,Full-time,Entry level,High School or equivalent,Real Estate,Customer Service,1
17826,"US, MI, DETROIT",Account/finance,0,0,0,Full-time,Entry level,High School or equivalent,Hospital & Health Care,Accounting/Auditing,1
17834,"US, CA, San Francisco",Sales,0,1,1,Full-time,Associate,Bachelor's Degree,Internet,Sales,0
17838,"US, IL, Chicago",Simple Relevance,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Information Technology and Services,Sales,0
17847,"US, NY, Rye",IT,0,1,1,Full-time,Associate,High School or equivalent,Information Technology and Services,Information Technology,0
17849,"US, CA, San Francisco",Design,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Design,0
17865,"GB, LND, London",Sales,0,1,1,Full-time,Entry level,Bachelor's Degree,Real Estate,Sales,0
17867,"GB, WSX, Chichester",Sales,0,1,0,Full-time,Entry level,Unspecified,Human Resources,Sales,0
17876,"US, PA, Philadelphia",Accounting,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Internet,Accounting/Auditing,0

In [11]:
y=a.iloc[:,[17]]
y

       fraudulent
0               0
1               0
2               0
3               0
4               0
5               0
6               0
7               0
8               0
9               0
10              0
11              0
12              0
13              0
14              0
15              0
16              0
17              0
18              0
19              0
20              0
21              0
22              0
23              0
24              0
25              0
26              0
27              0
28              0
29              0
...           ...
17850           0
17851           0
17852           0
17853           0
17854           0
17855           0
17856           0
17857           0
17858           0
17859           0
17860           0
17861           0
17862           0
17863           0
17864           0
17865           0
17866           0
17867           0
17868           0
17869           0
17870           0
17871           0
17872           0
17873           0
17874           0
17875           0
17876           0
17877           0
17878           0
17879           0

[17880 rows x 1 columns]